
<hr />
@Ajax.ActionLink("details", "getTime", new AjaxOptions 
{
    UpdateTargetId="now", 
    LoadingElementId="iiu",   
    Confirm="really", 
})

<div id="now"></div>

<div id="iiu">
    <a href="~/img/glyphicons.png" style="display:none"></a>

</div>